@model project.Models.Lecciones
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4">   @Html.DisplayFor(model => model.Titulo)</h1>

            <!-- Author -->
            <p class="lead">
                by
                @ViewBag.docente
            </p>

            <hr>

            <!-- Date/Time -->
            <p>Posted on January 1, 2019 at 12:00 PM</p>





            <hr>

            <!-- Post Content -->
            <p>
                @Html.DisplayFor(model => model.Contenido)
            </p>

            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header bg-dark text-white">Añadir comentario:</h5>
                <div class="card-body">
                    @using (Html.BeginForm("Create", "Comentarios", null, FormMethod.Post))
                    {
                        <div class="form-group">
                            <input type="hidden" value=@Model.IdLeccion name="leccion" />
                            <input type="hidden" value=@ViewBag.idUsuario name="usuario" />
                            <textarea class="form-control" name="contenido" rows="3" style="max-width:100%;"></textarea>
                        </div>
                        <br />
                        <button type="submit" class="btn btn-outline-primary">Enviar</button>
                    }

                </div>
            </div>

            <h2>Listado de comentarios: </h2>

            @if (ViewBag.cantcoments < 1)
            {
              
                <div class="alert alert-primary" role="alert">
                         <strong>Aún no hay comentarios</strong> Añade el primero ya!
                </div>
            }
            else
            {
                foreach (var item in ViewBag.comentarios)
                {

                    <div class="card text-white bg-dark mb-3">

                        <div class="card-body">

                            <div class="media mb-4">
                                <div class="media-body">
                                    <h5 class="mt-0">
                                        @item.Usuario.nombre @item.Usuario.apellidos
                                        @if (ViewBag.idUsuario  == item.Usuario.Id || User.IsInRole("Profe"))
                                        {
                                            using (Html.BeginForm("Delete", "Comentarios",  FormMethod.Post, new { @class = "float-right" }))
                                            {
                                                <input type="hidden" value=@item.IdComentario name="id" />
                                                <input type="hidden" value=@Model.IdLeccion name="lec" />
                                                <br />
                                                <button type="submit" class="btn btn-sm btn-outline-danger">Eliminar</button>
                                            }
                                        }
                                    </h5>
                                    @item.Comentario
                                </div>
                            </div>
                        </div>
                    </div>

                }
            }

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">


            <!-- Car para tareas -->
            @*<div class="card my-4">
                    <h5 class="card-header bg-dark text-white">Recursos</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#">Web Design</a>
                                    </li>
                                    <li>
                                        <a href="#">HTML</a>
                                    </li>
                                    <li>
                                        <a href="#">Freebies</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#">JavaScript</a>
                                    </li>
                                    <li>
                                        <a href="#">CSS</a>
                                    </li>
                                    <li>
                                        <a href="#">Tutorials</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>*@

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header bg-dark text-white">Recursos</h5>
                <div class="card-body">
                    @if (ViewBag.recursos.Count < 1)
                    {
                        <div class="alert alert-danger" role="alert">
                            No hay recursos asignados aún.
                        </div>
                    }
                    else
                    {

                        <div class="row">
                            <div class="col-md-12">

                                <table class="table">
                                    <tr>
                                        <th>
                                            Fecha de Creación
                                        </th>
                                        <th>
                                            Archivo
                                        </th>
                                    </tr>
                                    @foreach (var item in ViewBag.recursos)
                                    {


                                        <tr>
                                            <td>
                                                @item.Creado.ToShortDateString()
                                            </td>

                                            <td>
                                                <a class="btn btn-info" href="@Url.Action("DescargarArchivo", "Archivos", new { id = item.Id })">
                                                    <span class="glyphicon glyphicon-save"></span>
                                                    <span>@item.Nombre.@item.Extension</span>
                                                    <input type="hidden" name="tipo" value=@item.Tipo />
                                                </a>
                                            </td>



                                        </tr>

                                    }

                                </table>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->