@model project.Models.CursoProfe
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container pt-3">
    <div class="row">


        <div class="col-12">
            <div class="card ">

                @if (User.IsInRole("Profe"))
                {
                    <div class="card-header bg-dark">
                        <div class="row">
                            <div class="col-8">
                                <h3 class="text-white">Gestión de Aula</h3>
                            </div>
                            <div class="col-4 m-auto">

                                @Html.ActionLink("Añadir Lección", "Create", "Lecciones", new { id = Model.IdCursoProfe }, new { @class = "btn btn-outline-primary" })

                            </div>
                        </div>
                    </div>

                }



                <div class="card-body">
                    <div class="col">
                        <div class="alert alert-success" role="alert">
                            <h4 class="alert-heading">@Model.Curso.NombreCurso</h4>
                            <p>Mi aula virtual: @Model.Curso.NombreCurso | @Model.Curso.DescripcionCurso </p>
                            <hr>
                            <p class="mb-0">Docente: @Model.Profe.nombre @Model.Profe.apellidos</p>
                        </div>
                    </div>
                    <div class="container m-auto">
                        <h4>Lecciones</h4>

                        @if ((int)ViewBag.cantlecc > 0)
                        {

                            foreach (var x in ViewBag.Lecciones)
                            {
                    <div class="card text-center">

                        @if (User.IsInRole("Profe"))
                        {
                            <div class="card-body">
                                <h5 class="card-title">Tema: @x.Titulo</h5>

                                    <p class="card-text">Gestiona las lecciones de tus alumnos gracias a nuestra plataforma de aprendizaje MyCampus</p>
                              

                                @Html.ActionLink("Editar", "Edit", "Lecciones", new { id = x.IdLeccion }, new { @class = "btn btn-outline-dark" })
                                @Html.ActionLink("Ver", "Details", "Lecciones", new { id = x.IdLeccion }, new { @class = "btn btn-outline-success" })
                                @Html.ActionLink("Eliminar", "Delete", "Lecciones", new { id = x.IdLeccion }, new { @class = "btn btn-outline-dark" })

                            </div>
                        }
                        else
                        {
                            <div class="card-body">
                                <h5 class="card-title">Tema: @x.Titulo</h5>
                                <p class="card-text">Accede a la lección que el docente a preparado para tí</p>
                                @*@Html.ActionLink("Editar", "Edit", "Lecciones", new { id = x.IdLeccion }, new { @class = "btn btn-outline-dark" })*@
                                @Html.ActionLink("Ver la lección", "Details", "Lecciones", new { id = x.IdLeccion }, new { @class = "btn btn-outline-success" })
                                @*@Html.ActionLink("Eliminar", "Delete", "Lecciones", new { id = x.IdLeccion }, new { @class = "btn btn-outline-dark" })*@

                            </div>
                        }



                    </div>
                            }

                        }
                        else
                        {
                            <div class="alert alert-warning" role="alert">
                              <strong>No hay lecciones generadas para este curso</strong>
                            </div>
                        }

                    </div>


                </div>
            </div>
        </div>

        <div class="ml-3 mt-3">
            <p>
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-dark" })
            </p>
        </div>

    </div>
</div>


