@model IEnumerable<project.Models.CursoProfe>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole("Profe") || User.IsInRole("Admin"))
{
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Administración de grupos</h4>
        <p>Bienvenido a la plataforma de aprendizaje en línea MyCampus</p>
        <hr>
        <p class="mb-0">Aquí se encuentra la lista de cursos.</p>
    </div>
}
else
{
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">My Campus</h4>
        <p>Bienvenido a la plataforma de aprendizaje en línea MyCampus</p>
        <hr>
        <p class="mb-0">Aquí se encuentra la lista de cursos matriculados:</p>
    </div>
}

<div class="row mb-3">
    <div class="col-8">

        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <p>
                @Html.ActionLink("Crear Grupo", "Index", "Cursos", null, new { @class = "btn btn-success ml-3" })
            </p>
        }

    </div>

    <div class="col-4">
        <!--Buscador-->

        <button type="button" class="btn btn-primary float-right mr-3" data-toggle="modal" data-target="#staticBackdrop">
            Buscador
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Buscador</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm())
                        {

                            if (User.IsInRole("Profe"))
                            {
                                <p>
                                    Nombre de curso: @Html.TextBox("searchCurso", null, new { @class = "m-2" }) <br />
                                    <input type="submit" value="Buscar" class="btn btn-success" />
                                </p>
                            }
                            else
                            {
                                <p>
                                    Nombre de profesor: @Html.TextBox("searchProfe", null, new { @class = "m-2" }) <br />
                                    Nombre de curso: @Html.TextBox("searchCurso", null, new { @class = "m-2" }) <br />
                                    <input type="submit" value="Buscar" class="btn btn-success" />
                                </p>
                            }

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="container">

    @foreach (var item in Model)
    {

        @*@Html.ActionLink("Edit", "Edit", new { id = item.IdCursoProfe }) |
            @ |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdCursoProfe })*@


        <div class="card mb-3">
            <div class="card-header text-white bg-dark">
                @item.Curso.NombreCurso
            </div>
            <div class="card-body">
                <h5 class="card-title">@item.Profe.nombre @item.Profe.apellidos</h5>
                <p class="card-text">@item.Curso.DescripcionCurso</p>
                @Html.ActionLink("Ver Grupo", "Details", new { id = item.IdCursoProfe }, new { @class = "btn btn-outline-success btn-sm" })

                @if (User.IsInRole("Admin"))
                {
                    
                    @Html.ActionLink("Borrar", "Delete", new { id = item.IdCursoProfe }, new { @class = "btn btn-outline-danger btn-sm" })
                }


            </div>
        </div>


    }

</div>



