@using Microsoft.AspNetCore.Identity
@model  IEnumerable<IdentityRole>

@{
    ViewBag.Title = "Listado de roles";
}

<h2>Roles</h2>

<p>
       <button class="btn btn-success ml-2" onclick="location.href='@Url.Action("Create","RolesAdmin")';return false;">Agregar un nuevo role</button>
  @*  @Html.ActionLink("Nuevo", "Create") *@
</p>
<table class="table">
    <tr>
        <th>
            Nombre: 
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                  <button class="btn btn-primary ml-2" onclick="location.href='@Url.Action("Details","RolesAdmin",new{ id = item.Id})';return false;">Detalles del role</button>
                    <button class="btn btn-danger ml-2" onclick="location.href='@Url.Action("Delete","RolesAdmin",new{ id = item.Id})';return false;">Eliminar Role</button>
                @*@Html.ActionLink("Editar", "Edit", new { id = item.Id }) | 
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.Id })  *@
            </td>
        </tr>
    }

</table>
