@model project.Models.Curso

@{
    ViewData["Title"] = "Delete";
}

    <br>
    <center>
    <h2>¿Desea eliminar el curso?</h2>
    </center>

<div>

    <hr />
        <dl class="dl-horizontal">
        <dt>
            Nombre:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCurso)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoCurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoCurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionCurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionCurso)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCurso" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <br>
        <br>
        <a asp-action="Index">Volver atrás</a>
    </form>
</div>
