@model project.Models.Curso

@{
    ViewData["Title"] = "Details";
}



<div>
    <br>
    <center>
    <h2>Detalles de curso</h2>
    </center>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoCurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoCurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionCurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionCurso)
        </dd>
    </dl>
</div>

<br>
<div>
@*    <a asp-action="Edit" asp-route-id="@Model?.IdCurso">Edit</a> |*@
    <a asp-action="Index">Volver atrás</a>
</div>
