@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Curso

@{
    ViewBag.Title = "Grupo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <br>
    <center>
    <div class="mt-3 mb-3">
        <h4>Generación de Grupo: @ViewBag.curso.NombreCurso </h4>
    </div>
    </center>
    <hr />

<br>
@using (Html.BeginForm())
{
    <p>
        Nombre: @Html.TextBox("SearchString") &nbsp
        <input type="submit" value="Buscar" class="btn btn-secondary" />
    </p>
}
<br>

<table class="table">
    <tr>
        <th>Nombre: </th>

        <th>Apellidos: </th>

        <th>Correo: </th>

        <th>Cédula: </th>

        <th></th>
    </tr>

    @foreach (var profe in ViewBag.profes)
    {
        <tr>
            <td> @profe.nombre</td>

            <td> @profe.apellidos </td>

            <td> @profe.Email </td>

            <td> @profe.cedula </td>

            <td>
                @Html.ActionLink("Generar grupo", "GeneraGrupo", new { idProfe = profe.Id, idCurso = ViewBag.curso.IdCurso }, new { @class = "btn btn-success" })
            </td>
        </tr>
    }

</table>
